<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fast Lane Racer Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.7/phaser.min.js"></script>
        <link rel="stylesheet" href="main.css" >
    </head>
    <body>
        <main>
            <section id="start-screen" v-if="startScreenVisible">
                <p style="width: 100%; font-size:32px; color: #fff; margin-top: 32px; text-align: center; font-weight: bold; background-color: orange; padding: 8px 0;">Choose your player</p>
                <button class="btn-persona" @click="start('jan')">
                    <img src="assets/jan.png">
                    <p style="background-color: #2f95d0;">Jan</p>
                </button>
                <button class="btn-persona" @click="start('shenaz')">
                    <img src="assets/shenaz.png">
                    <p style="background-color: #2f95d0;">Shenaz</p>
                </button>
                <button class="btn-persona" @click="start('johanna')">
                    <img src="assets/johanna.png">
                    <p style="background-color: #2f95d0;">Johanna</p>
                </button>
                <button class="btn-persona" @click="start('volker')">
                    <img src="assets/volker.png">
                    <p style="background-color: #2f95d0;">Volker</p>
                </button>
            </section>

            <section id="game-container">
                <div id="info">
                    <div id="time">{{ time | time }}</div>
                    <div id="profile" v-if="persona" style="background-image: url(assets/{{ persona }}.png)"></div>
                </div>
                <div id="game-canvas"></div>
                <div id="score">Score: {{ score }}</div>
                <div id="dashboard">
                    <button id="btn-control-left"
                        v-on:touchstart="keydown('left')"
                        v-on:touchend="keyup('left')"
                        v-on:mousedown="keydown('left')"
                        v-on:mouseup="keyup('left')"></button>

                    <button id="btn-control-right"
                        v-on:touchstart="keydown('right')"
                        v-on:touchend="keyup('right')"
                        v-on:mousedown="keydown('right')"
                        v-on:mouseup="keyup('right')"></button>
                </div>
            </section>
        </main>

        <script src="pubsub.js"></script>

        <script>
            if (document.location.search.indexOf('debug') >= 0) {
                document.write('<script src="index.js"></sc' + 'ript>')
                document.write('<script src="game.js"></sc' + 'ript>')
            } else {
                document.write('<script src="game-compiled.js"></sc' + 'ript>')
            }
        </script>
    </body>
</html>
