*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 100%;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

#game-canvas {
    display: block;
    background-color: green;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    height: 63vh;
}

#dashboard {
    height: 30vh;
    display: flex;
    /*border: 2px solid #aaa;*/
    border-top: 2px solid #aaa;
}

#score {
    width: 100%;
    color: #cc4200;
    font-size: 1.5rem;
    text-align: center;
    height: 7vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

[id^="btn-control-"] {
    display: block;
    width: 100%;
    border: 0;
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    outline: 0;
}

[id^="btn-control-"]:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('arrow.svg');
}

#btn-control-left {
    border-right: 2px solid #aaa;
}

#btn-control-right {
    border-left: 2px solid #aaa;
}

#btn-control-right:before {
    transform: rotate(180deg);
}
#btn-control-brake:before {
    transform: rotate(-90deg);
}

#info {
    position: absolute;
    text-align: center;
    width: 100%;
}

#time {
    background-color: rgba(0, 0, 0, .35);
    border-radius: 2px;
    color: #fff;
    padding: 2px 4px;
    display: inline-block;
    margin-top: 12px;
    font-size: 1.5rem;
}

#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;

    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#profile {
    width: 64px;
    height: 64px;
    border-radius: 3px;
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: rgba(0, 0, 0, .35);
    background-size: contain;
}

#game-container {
    background-color: green;
}

.btn-persona {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border: 4px solid #eee;
  border-radius: 4px;
  margin: 12px;
  display: block;
  position: relative;
  width: 130px;
}

.btn-persona:focus {
  outline: 4px solid orange;
}
.btn-persona:active {
  outline: 4px solid orange;
}

.btn-persona img {
  border-radius: 4px;
  max-width: 100%;
  display: block;
}

.btn-persona p {
  background-color: orange;
  padding: 3px 0;
}
